{% load django_bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do App</title>
    <style>
        {% block css %}
        {% endblock css %}
    </style>
</head>
<body>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <div
             class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="submit" class="btn btn-success full-width" >logout</button>
        </div>
    </form>
{% block content %}
{% endblock content %}
</body>
</html>